
<div class="center jumbotron">
	<h2>Index</h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


<% @users.each do |user|%>
<p><%= user.email %></p>
<%= link_to "Edit user", edit_user_path(user), class: "btn btn-primary"  %>

<td><%= link_to "Delete user", user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>
<p><%= link_to "New", new_user_path %></p>